body {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1 {color: #036366;}
h2 {color:#721494}
h1, h2 {font-family: 'Abril Fatface', cursive;}
.evenrow {background-color: darkgray;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
a:link {color: #191cd4; }
a:visited {color:#7d5ff8;}
a:hover {color: #23ffff;}
body 
{
    background-color: #ffffff ;
    color: #000000
}
nav {background-color:#d3cfcf ;
    padding: 10px;
    margin-bottom: 30px;}

nav a:hover {background-color:#250431 ;}
@media only screen and (max-width: 768px) {nav a {width:100%; display: block; padding-bottom: 5px;} span {display: none;}}
#skip {
    position: absolute;
    left: -999px;
    background-color: #f1d743;
    border: 1px solid black;
}
/* this position based on top left of viewport and pushed the skip link off screen */
#skip:focus {
    position:absolute;
    left: 10px;
}

