body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color:#003492;
    color: white;
}
h1 {/*color: #003492;*/-webkit-text-stroke: 4px #003492; /* width and color */
color: white; font-size: 4.4em; font-family: 'Archivo Black', sans-serif; margin-top: 0; margin-bottom: 5px;}
.name {float: right;}
a:link {color: white;}
a:visited {color: white;}
a:hover {color:#fed02a }
nav {display: flex; justify-content: center ;}
nav a:link, nav a:visited {
    background-color: #dedcdf;
    border-style: solid none solid none; 
    border-color:#fed02a;
    color:  #003492;
    padding: 12px 28px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 14px;
   cursor: pointer;

   /* REFERENCE: https://www.bitdegree.org/learn/css-link-color */
}
/* Javascript Reference: https://www.javascriptfreecode.com/21.htm */
#button{
  display: inline-block;
  background-color: #fed02a;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}
nav a:hover, nav a:active {
   background-color: #fed02a;

}
@media only screen and (max-width: 600px) {.week1, .week2, .week3, .week4, .week5, .week6, .week7, .week8, .week9, .week10, .week11, .week12, .week13, .week14, .week15, .week16, .week17, .wc, .divisional, .stats {flex-wrap: wrap;} .intro {flex-wrap: wrap;}
.logo1 {
  display: none;
}
.logo2 {
  display: none;
}
.pgtitle {font-size: 75%;}
.pgtitle1 {font-size: 65%;}
.part42 {margin-top: 20px;}
.statsimg {width: 400px}
}

@media only screen and (max-width: 768px) {.week1, .week2, .week3, .week4, .week5, .week6, .week7, .week8, .week9, .week10, .week11, .week12, .week13, .week14, .week15, .week16, .week17, .wc, .divisional, .stats {flex-wrap: wrap;} .intro {flex-wrap: wrap;}
.logo1 {
  display: none;
}
.logo2 {
  display: none;
}
.part42 {margin-top: 20px;}
}

@media only screen and (max-width: 1200px) {.week1, .week2, .week3, .week4, .week5, .week6, .week7, .week8, .week9, .week10, .week11, .week12, .week13, .week14, .week15, .week16, .week17, .wc, .divisional, .stats {flex-wrap: wrap;} .intro {flex-wrap: wrap;}
.logo1 {
  display: none;
}
.logo2 {
  display: none;
}
}



/*.buttons {float: right;}*/
.clear {clear: both;}
.buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

.buttons a:visited {color: black;}
.buttons a:link {color: black;}
  
  .buttons a:hover {
    background-color:#fed02a ;
    color: black;
  }
  
  .previous {
    background-color: white;
    color: black;
  }
  
  .next {
    background-color:white;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }

  #skip {
    position: absolute;
    left: -999px;
    background-color: #fed02a;
    border: 1px solid black;
}
/* this position based on top left of viewport and pushed the skip link off screen */
#skip:focus {
    position:absolute;
    left: 10px;
}