body {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1 {color: #f06335;}
h2 {color:#721494}
.evenrow {background-color: darkgray;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
a:link {color: #191cd4; }
a:visited {color:#896dfc;}
a:hover {color: #999999;}
body 
{
    background-color: #ffffff ;
    color: #000000
}
nav {background-color:#4b4b4d ;
    padding: 10px;
    margin-bottom: 30px;}
nav a {color: #ffd700;}
nav a:hover {background-color:#bb32ed ;}
